:root {
    --color-primary: #8a1538;
    --color-primary2: #eeeee4;
    --color-secondary: #00cfb7;
    --color-secondary2: #ff4700;
    --color-secondary3: #550065;
    --color-secondary4: #ff004c;
  
    --color-background: #eeeee4;
    --color-text: #eeeee4;
}