.loading {
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-primary);
    align-items: center;
}
  
h1 {
    font-size: 4em;
}
  
p {
    font-family: Qatar2022 Arabic;
    color: var(--color-text);  
}

.mascot {
    aspect-ratio: 1 / 1;
    margin-top: 3em;
    width: 60vmin;
}