.loading {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    align-items: center;
}
  
h1 {
    font-size: 3em;
}
  
p {
    font-family: Qatar2022 Arabic;
    color: var(--color-text);  
}

.mascot {
    aspect-ratio: 1 / 1;
    width: 60vmin;
}

