nav {
    display: flex;
    justify-content: center;
}

.nav {
    position: relative;
    bottom: -100vh;
    z-index: 2;
  
    display: flex;
    justify-content: center;
    gap: 0.5em;
  
    list-style-type: none;
}  

#menuitem, #menuitem2, #menuitem3 {
    width: 6em;
    height: 6em;
}

.pa-1 {
    stroke-width: 2px;
}

.pa-1, .pa-2 {
    fill: none;
    stroke: #8a1538;
    stroke-miterlimit: 10;
}

.po-1 {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
}

.po-1, .po-2 {
    fill: none;
    stroke: #8a1538;
}

.po-2 {
    stroke-miterlimit: 10;
}

.br-1 {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
}

.br-1, .br-2 {
    fill: none;
    stroke: #8a1538;
}

.br-2 {
    stroke-miterlimit: 10;
}

.back {
    fill: var(--color-primary2);
}